@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

:root {
  --clr-yellow: #ffe45e;
  --clr-yellow-button: #f7c123;
  --clr-yellow-dark: #c7a916;
  --clr-bg-black: #191921;
  --clr-white: #fff;
  --clr-textBlack: #000;
  --MainFont: "Commissioner", sans-serif;
  --gutter-small: 1.5rem;
  --gutter-smallX: 3rem;
  --gutter-medium: 5rem;
}

body {
  font-family: var(--MainFont);
}

.Logo {
  margin: 1.5rem 0 2rem 3rem;
}

.Logo img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .Logo img {
    width: 70rem;
  }
}

.Logo h1 {
  color: var(--clr-yellow-dark);
}

.navigation {
  position: relative;
}

.navigation__icon {
  display: block;
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 1500;
}

@media screen and (min-width: 900px) {
  .navigation__icon {
    top: 8rem;
  }
}

.navigation__icon img {
  cursor: pointer;
  width: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 900px) {
  .navigation__icon img {
    width: 5rem;
  }
}

.navigation__nav {
  display: none;
  background-color: var(--clr-yellow);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 3;
}

.navigation__list {
  list-style-type: none;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .navigation__list {
    margin-top: 10rem;
  }
}

.navigation__item {
  margin: 1rem;
}

@media screen and (min-width: 700px) {
  .navigation__item {
    margin-top: 3rem;
  }
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--clr-textBlack);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(110deg, transparent 0%, transparent 51%, var(--clr-bg-black) 50%);
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: var(--clr-yellow-dark);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.show {
  display: block;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1400px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 2rem;
  height: 20rem;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .header__image {
    height: 40rem;
  }
}

@media screen and (min-width: 900px) {
  .header__image {
    height: 50rem;
  }
}

.header__info {
  width: 32.7rem;
  margin: 0 1rem;
}

@media screen and (min-width: 700px) {
  .header__info {
    width: 100%;
    padding: 5rem 7rem;
  }
}

.header__info h1 {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 3rem;
}

@media screen and (min-width: 700px) {
  .header__info h1 {
    font-size: 3.5rem;
  }
}

.header__info p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .header__info p {
    font-size: 1.8rem;
    opacity: 0.5;
  }
}

.header__info button {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.8rem 2em;
  border: none;
  background-color: var(--clr-yellow-button);
  cursor: pointer;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0.8;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

.header__info button:hover {
  opacity: 1;
  -webkit-box-shadow: 0.2rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.2rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
}

.header__info button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.main {
  margin-top: 3rem;
}

.main__image {
  height: 24rem;
  overflow-y: hidden;
}

@media screen and (min-width: 700px) {
  .main__image {
    height: 50rem;
  }
}

.main__content {
  padding: 2rem 1rem;
  background-color: var(--clr-bg-black);
}

@media screen and (min-width: 700px) {
  .main__content {
    padding: 5rem 7rem;
    margin-top: -3rem;
  }
}

.main__content h2 {
  text-transform: capitalize;
  margin-top: 2rem;
  color: var(--clr-white);
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .main__content h2 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
  }
}

.main__content h2 span {
  color: var(--clr-yellow);
  font-size: 7rem;
}

.main__content p {
  color: var(--clr-white);
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .main__content p {
    font-size: 1.8rem;
    opacity: 0.5;
  }
}

.main__content p sup {
  color: var(--clr-yellow);
  font-size: 1rem;
  opacity: 0.5;
  margin-right: 1rem;
}

@media screen and (min-width: 700px) {
  .main__content p sup {
    font-size: 1.5rem;
  }
}

.main__content p sup:nth-child(2) {
  display: inline-block;
  margin-left: 1rem;
}

.main__content span a {
  all: unset;
  font-size: 1.5rem;
  color: var(--clr-yellow);
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .main__content span a {
    font-size: 1.8rem;
  }
}

.main__content span a::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: -10px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 10rem;
  height: 5px;
  border-bottom: 2px solid var(--clr-yellow);
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@media screen and (min-width: 700px) {
  .main__content span a::after {
    left: -80px;
  }
}

.main__content span a:hover {
  color: var(--clr-yellow);
}

.main__content span a:hover::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.main__content span a i {
  margin-right: 1rem;
}

.ourapproach {
  background-color: var(--clr-yellow-button);
  padding: 8rem 2rem 8rem;
}

@media screen and (min-width: 700px) {
  .ourapproach__container {
    padding: 0 5rem;
  }
}

.ourapproach__header h2 {
  color: var(--clr-textBlack);
  font-size: 3.2rem;
  text-transform: capitalize;
  font-weight: 400;
}

@media screen and (min-width: 700px) {
  .ourapproach__header h2 {
    font-size: 3.7rem;
  }
}

.ourapproach__partone, .ourapproach__parttwo, .ourapproach__partthree {
  position: relative;
  overflow: unset;
  margin-top: 8rem;
}

.ourapproach__partone__number, .ourapproach__parttwo__number, .ourapproach__partthree__number {
  position: absolute;
  top: -32%;
  left: 0%;
  font-size: 8rem;
  opacity: 0.19;
  color: var(--clr-white);
  color: #191921;
}

@media screen and (min-width: 700px) {
  .ourapproach__partone__number, .ourapproach__parttwo__number, .ourapproach__partthree__number {
    font-size: 9rem;
  }
}

.ourapproach__partone h3, .ourapproach__parttwo h3, .ourapproach__partthree h3 {
  font-size: 2rem;
  color: var(--clr-white);
  color: #191921;
  margin-bottom: 2.6rem;
}

@media screen and (min-width: 700px) {
  .ourapproach__partone h3, .ourapproach__parttwo h3, .ourapproach__partthree h3 {
    font-size: 2.7rem;
  }
}

.ourapproach__partone p, .ourapproach__parttwo p, .ourapproach__partthree p {
  color: var(--clr-white);
  color: #191921;
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  .ourapproach__partone p, .ourapproach__parttwo p, .ourapproach__partthree p {
    font-size: 2rem;
    opacity: 0.8;
  }
}

@media screen and (min-width: 900px) {
  .carousel__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.carousel__image picture img {
  height: 40rem;
}

@media screen and (min-width: 900px) {
  .carousel__image picture img {
    width: 57rem;
  }
}

.carousel__body {
  padding: 6em 2rem;
  background-color: var(--clr-bg-black);
}

@media screen and (min-width: 900px) {
  .carousel__body {
    padding-top: 10rem;
  }
}

.carousel__body h2 {
  color: var(--clr-white);
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .carousel__body h2 {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .carousel__body h2 {
    font-size: 3.5rem;
  }
}

.carousel__controller {
  text-align: center;
}

.carousel__controller button {
  all: unset;
  cursor: pointer;
  margin-left: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 7rem;
}

.carousel__controller button i {
  font-size: 5rem;
  color: var(--clr-white);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.carousel__controller button i:hover {
  color: var(--clr-yellow-button);
  background-color: #fff;
  border-radius: 60%;
  -webkit-transform: translateX(-3px) scale(1.2);
          transform: translateX(-3px) scale(1.2);
}

.carousel__controller button i:active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.footer {
  width: 70%;
  margin: 0 auto;
}

.footer__container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .footer__container {
    width: 70%;
    text-align: center;
  }
}

.footer__brand {
  margin: 3rem 0 1rem 5rem;
}

.footer__brand img {
  width: 50rem;
}

@media screen and (min-width: 700px) {
  .footer__brand img {
    margin: 0 0 3rem 8rem;
  }
}

@media screen and (min-width: 900px) {
  .footer__brand img {
    margin: 0 0 3rem 13rem;
  }
}

.footerNavigation {
  width: 80%;
  margin: 0 auto;
}

.footerNavigation__list {
  list-style-type: none;
}

.footerNavigation__item {
  margin-bottom: 1.5rem;
}

.footerNavigation__link:link, .footerNavigation__link:visited {
  all: unset;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 3rem;
  background-image: linear-gradient(130deg, transparent 0%, transparent 70%, var(--clr-bg-black) 50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-size: 420%;
}

@media screen and (min-width: 700px) {
  .footerNavigation__link:link, .footerNavigation__link:visited {
    font-size: 2.5rem;
  }
}

.footerNavigation__link:hover, .footerNavigation__link:active {
  color: var(--clr-yellow);
  background-position: 100%;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}
/*# sourceMappingURL=style.css.map */